body {
	background-color: rgb(32, 33, 33);
	background-image: url("/img/background.png");
	background-repeat: no-repeat;
	align-content: center;
	align-items: center;
}
.homeLogo {
	width: 10vw;
	height: 10vw;
}
main {
	padding-top: 10%;
}
header {
	height: 10vw;
	background-color: #000000ab;
}
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0px;
	z-index: 4;
}
.search {
	padding-top: 1%;
	height: fit-content;
	width: 20%;
}

.header #background,
.header #labels {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 70%;
}

.header #labels {
	background-color: transperent;
}

.header #background {
	background-color: rgb(43, 43, 43);
	display: none;
}
.content {
	height: 5000px;
	width: 100%;
}
.headerLogo {
	align-self: flex-start;
}
.smolLogo {
	height: 2%;
	width: 2%;
}
#snow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 1000;
}

.welcome {
	text-shadow: #fff;
}
