body {
    background-color: #444444;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
    align-items: center;
}
header {
    height: 4vw;
    background-color: #000000ab;
}
.header{
    width:100%;
    height:100px;
    position:fixed;
    top:0px;
    z-index:3;
}



.header #background, .header #labels
{
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
}

.header #labels{
    background-color:transperent;
}

.header #background{
    background-color:rgb(43, 43, 43);
    display:none;
}
.content {
    height: 5000px;
    width: 100%;
}
.headerLogo {
    align-self: flex-start;
}
#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}
.welcome {
    text-shadow: #fff;
}